.App {
  margin: auto;
  text-align: center;
  width: 95%;
}

button {
  margin: 30px
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  margin: 0px auto;
  padding: 0px 4%;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 4px;
  padding: 0 10px;
  position: sticky;
}

.Row-items {
  display: flex;
  justify-content: space-around;
  width: 95%;
}

.App-link {
  color: #09d3ac;
}

.Main-form label {
  color: white;
}

.label {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: white;
}
.ant-form-item-control{
  line-height: 32px;
}
.Main-form>div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

@media (max-width: 1000px) {
  /* .Main-form {
    flex-direction: column;
  } */
}



.Main-form .sm {
  height: 32px;
  width: 214px;
}

.Main-form .md {
  height: 32px;
  width: 460px;
}